body {
    background-color:white
    margin: 0;
    font-family: 'sans-serif';
}
.inicio{
    display: flex;
    height: 100vh;
}
.foto{
    flex:1;
    background-color: rgb(227, 255, 253);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 700px; 
    height: auto;
    border-radius: 8px;
}