body {
    background-color:rgb(116, 197, 186); 
    margin: 0;
    font-family: 'sans-serif';
}
.inicio{
    display: flex;
    height: 100vh;
}
.foto{
    flex:1;
    background-color: darkkhaki;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto img{
    width: 300px; 
    height: auto;
    border-radius: 8px;
}